@import "../../assets/style-tokens/color-palette";

.header {
  background-color: $light-gray;
  height: 4.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 20px;
}

.city {
  display: flex;
  flex-wrap: nowrap;
}

.language {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-left: 0.9375rem;

  svg {
    width: 24px;
    height: 24px;
  }
}

.sections {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 100%;
}

.sections_item {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 0.9375rem;
  text-decoration: none;
  color: $black;
  height: 100%;
  border-bottom: 0.25rem solid transparent;

  &:hover {
    border-bottom-color: $red;
  }
}

.auth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  :not(:last-child) {
    margin-right: 1.875rem;
  }
}

.logo {
  display: flex;
  align-items: center;

  svg {
    width: 125px;
    height: 30px;
  }
}
