@import "../../assets/style-tokens/color-palette";

.switcher {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 0.625rem;
  border: 0.0625rem solid $gray;
  padding: 0.3125rem;

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0.9375rem;
    font-size: 14px;

    &:hover {
      background-color: $light-gray;
      height: auto;
    }

    &__active {
      background-color: $turquoise;
      border-radius: 0.3125rem;
      padding: 0.9375rem;
      color: $white;
      font-size: 14px;
    }
  }
}
